*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/*  ------------------------    layout   ---------------------   */
/*  ----------------------------------------------------------   */
/* .nav-wrapper {
  position: relative;
  border-right: 3px solid #666;
} */

#main-doc {
  width: min(95%, 70rem);
  margin: 7rem auto;
  overflow: hidden;
}


/*  ---------------    navbar   ------------   */
#navbar {
  width: 100%;
  top: 0px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar header {
  height: 100%;
  padding: 1rem 1rem 1rem 1rem;
}

.home-link {
  display: block;
  margin: 0 auto;
}

.burger-wrapper {
  width: 5rem;
}

.burger-span {
  display: block;
  background-color: #e7dac7;
  border-radius: 8px;
  margin: 8px auto;
  height: 5px;
  width: 60%;
}

.nav-link {
  display: block;
  padding: 1rem;
  border-bottom: 1px solid #000;
}

h1 {
  padding: 1rem;
}


/*  -------------   hamburger toggle  ------------   */
.nav-list {
  position: absolute;
  right: 200px;
  top: 100%;
  right: -1000px;
  transition: all .3s ease-in-out;
}

.burger-toggle {
  height: 5rem;
  width: 5rem;
  position: fixed;
  right: 0;
  opacity: 0;
}

.burger-toggle:checked ~ ul {
  right: 0;
}




/*  ---------------    main   ------------   */
section {
  margin: 3rem 0;
}

/* .main-section {
  scroll-margin-top: 8rem;
} */

section > * {
  margin: 2rem 1rem;
}

.card {
  margin: 4rem 2rem;
}

.card > * {
  margin-bottom: 2rem;
}

pre {
  border-radius: 10px;
  max-width: 95%;
  margin: 0 auto;
}

li {
  margin: 1rem 0;
  list-style: inside;
}

img {
  display: block;
  margin: 0 auto;
  max-width: min(65%, 22rem);
}

footer {
  padding: 1rem;
}



/*  ---------------    media query   ------------   */

@media (min-width: 40rem) {
  code {
    font-size: 1.2rem;
  }

  .card {
    margin: 4rem 1rem;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0px 3px 12px 5px #000; */
  }
}

@media (min-width: 68rem) {
  .burger-toggle,
  .burger-wrapper {
    display: none;
  }

  #navbar {
    display: block;
    min-width: 20rem;
    position: sticky;
    width: 100%;
    top: 0px;
  }

  .nav-list {
    position: static;
  }

  .nav-wrapper {
    border-right: 2px solid #000
  }





  .flex-main {
    display: flex;
  }

  .nav-list {
    display: block;
  }

  #main-doc {
    margin: 1rem auto;
    padding: 1rem
  }

  .card {
    margin: 4rem 2rem;
  }

  .card > * {
    margin-bottom: 3rem;
  }
}


/*  ------------------------    typography   ---------------------   */
/*  --------------------------------------------------------------   */
body {
  font-size: 1.3125rem;
  font-family: 'Urbanist', sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: 'DM Serif Display', serif;
}

h1 {
  font-weight: normal;
  text-transform: uppercase;
  border: 2px solid #937047;
}

.home-link {
  text-decoration: none;
  color: #e7dac7;
}

h4 {
  font-size: 1.4rem;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: 700;
  color: #000;
}

.text-orange {
  color: orange;
}

pre {
  overflow: auto;
}

code {
  font-size: 1rem;
}


/*  ------------------------    color   ---------------------   */
/*  ----------------------------------------------------------   */
body {
  background-color: #fcfcfc;
  color: #141516;
}

#navbar,
footer,
.nav-link {
  background-color: #241f1c;
  color: #e7dac7;
}

.nav-link {
  text-decoration: none;
}

.nav-link:hover {
  background-color: #504C49;
}

h2,
h3,
h4 {
  color: #000;
}

pre {
  background-color: #3f3f3f;
  color: #eee;
}



