*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* =================
      Layout
================= */
.flex-main {
  display: flex;
}

.nav-wrapper {
  display: none;
  position: relative;
  border-right: 3px solid #666;
}



#main-doc {
  width: min(90%, 70rem);
  margin: 1rem auto;
}


/* Navbar */
#navbar {
  min-width: 22rem;
  position: sticky;
  top: 0px;
}

#navbar header {
  padding: 3rem 1.5rem;
}

#navbar a {
  display: block;
  padding: 1rem;
  border-bottom: 1px solid #000;
}

h1 {
  padding: 0.5rem;
}


/* Main */
section {
  margin: 3rem 0;
}

section > * {
  margin: 2rem 1rem;
}

.card {
  margin: 4rem 2rem;
/*   padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0px 0px 22px 5px #000; */
}

.card > * {
  margin-bottom: 1.5rem;
}

pre {
  border-radius: 10px;
  /* max-width: 95%; */
  margin: 0 auto;
}

li {
  margin: 1rem 0;
  list-style: inside;
}

img {
  display: block;
  margin: 0 auto;
}

footer {
  padding: 1rem;
}





@media (min-width: 36rem) {
  img {
    max-width: 70%;
  }
}





@media (min-width: 70rem) {
  .nav-wrapper {
    display: block;
  }

  .card {
    margin: 4rem 2rem;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0px 0px 22px 5px #000; */
  }

  .card > * {
    margin-bottom: 3rem;
  }
}





/* =================
Typography
================= */
body {
  font-size: 1.3125rem;
  font-family: 'Urbanist', sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: 'DM Serif Display', serif;
}

h1 {
  font-weight: normal;
  text-transform: uppercase;
  border: 2px solid #937047;
}

h4 {
  font-size: 1.4rem;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: 700;
  color: #000;
}

.text-orange {
  color: orange;
}

#navbar li {
  list-style: none;
}

#navbar a {
  text-decoration: none;
}

pre {
  white-space: pre-wrap;
}

code {
  font-size: 1.25rem;
}

/* =================
Color
================= */
body {
  background-color: #fcfcfc;
  color: #141516;
}


#navbar a {
  color: #141516;
}

#navbar header,
footer {
  background-color: #241f1c;
  color: #e7dac7;
}

#navbar a:hover {
  background-color: #eee;
}

h2,
h3,
h4 {
  color: #000;
}

pre {
  background-color: #3f3f3f;
  color: #eee;
}



